<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.edu.pu.s410754469.beargohome" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/bear"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bear"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beargohome" >
        <activity android:name=".MainActivity72" android:screenOrientation="landscape"></activity>
        <activity android:name=".MainActivity51" android:screenOrientation="landscape" />
        <activity android:name=".MainActivity52" android:screenOrientation="landscape" />
        <activity android:name=".MainActivity62" android:screenOrientation="landscape" />
        <activity android:name=".MainActivity42" android:screenOrientation="landscape" />
        <activity android:name=".MainActivity41" android:screenOrientation="landscape" />
        <activity android:name=".MainActivity32" android:screenOrientation="landscape" />
        <activity android:name=".MainActivity31" android:screenOrientation="landscape" />
        <activity android:name=".MainActivity2"  android:screenOrientation="landscape" />
        <activity android:name=".MainActivity"   android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>